input:focus {
    outline-width: 0;
}

svg {
    cursor: pointer;
}

aside {
    width: 20%;
}

.productdisplay {
    width: 80%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

li {
    list-style-type: none;
}

.productimage {
    height: 50vh;
}

.product {
    cursor: pointer;
}